<%- include("../partials/header")-%>

<link rel = "stylesheet" href = "/stylesheets/editcomment.css">

<div id = "main-div" class="card text-center">
      <div class="card-body">
          <h1 id = "editComment" class="card-title">Edit Comment</h1>
          <p class="card-text">
              <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                   <div id = "name" class="input-group mb-3">
                      <span id = "username">Username</span>
                      <input id ="usernametext" readonly type="text" class="form-control-plaintext" value = "<%= comment.author.username %>" id="staticEmail">
                    </div>
                    <div id = "comment" class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-comment"></i></span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value = "<%= comment.text %>" name = "comment[text]">
                      </div>
                    <div id = "createDiv" class="form-group form-check">
                        <button id ="update" type="submit" class="btn btn-primary">Update <i id = "updateSymbol" class = "fas fa-edit"></i></button>
                    </div>
              </form>
          </p>
      </div>
  </div>

<%- include("../partials/footer")-%>