<%- include("../partials/header")-%>
	  
<div class = "container">
	<header class = "jumbotron" style = "margin: 50px auto; background-color: #141414; color: white; padding-bottom: 35px; padding-top: 55px;" >
		<div class = "container">
			<h1><span><i class="fas fa-campground" style = "font-size: 70px;"></i></span>   Welcome to YelpCamp!</h1>
			<p style = "margin-top: 25px; font-size: 1.2rem; padding-top: 5px;">View our Campgrounds from all over the world</p>
			<p style = "margin-top: 30px;"><a href = "/campgrounds/new" class="btn btn-warning btn-lg">Add a new Campground</a></p>	
		</div>	
	</header>
		
	<% for (var i = 0 ; i < campgrounds.length ; i++) { %>	
		<div class="row col-md-4" style = "display: inline-flex">
			<div class="col mb-4">
				<div class="card h-100" style="width: 100%;">
					<img src="<%= campgrounds[i]["image"] %>" class="card-img-top" alt="..." style = "size: auto;">
					<div class="card-body">
						<h5 class="card-title"><%= campgrounds[i]["name"] %></h5>
						<p> <a href="/campgrounds/<%= campgrounds[i]["_id"] %>" class = "btn btn-warning">More Info!</a></p>
					</div>
				</div>
			</div>
		</div>
	<% } %>
	<%- include("../partials/footer")-%>
</div>
